<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jdapplications.gcgaming" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:label="Register new user" />
        <activity
            android:name=".activities.AvailableRaidsActivity"
            android:label="@string/title_activity_available_raids" />
        <activity
            android:name=".activities.CreateEventActivity"
            android:label="@string/title_activity_create_event" >
        </activity>
        <activity
            android:name=".activities.RaidsDetailActivity"
            android:label="@string/title_activity_raids_detail"
            android:parentActivityName=".activities.AvailableRaidsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jdapplications.gcgaming.activities.AvailableRaidsActivity" />
        </activity>
        <activity
            android:name=".activities.CharacterActivity"
            android:label="@string/title_activity_character" >
        </activity>
        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".activities.AddCharacterActivity"
            android:label="@string/title_activity_add_character" >
        </activity>
    </application>

</manifest>
